*{
    box-sizing: border-box;
}
html,body{
    width:100%;padding:0;margin:0;
    scroll-behavior: smooth;
    font-family: "Noto Sans CJK KR";
}
a,ul,li{list-style: none;text-decoration: none;padding:0;margin:0;}
figure{margin:0;}