@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Noto Sans CJK KR";
}

a, ul, li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

main {
  padding: 0;
  position: relative;
}

main header {
  padding: 50px 0 0 0;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  top: 15px;
  left: 0;
  margin: 0 0 0 5%;
  z-index: 9999;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

main header .logo {
  margin-top: 0;
}

main header .logo a {
  font-size: 1.5em;
  font-weight: 600;
  display: block;
  margin-top: 0%;
}

main header.active {
  padding-top: 50px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

main header .buger .menu-trigger {
  position: relative;
  width: 30px;
  height: 28px;
  display: block;
  z-index: 999;
}

main header .buger .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
}

main header .buger .menu-trigger span:nth-of-type(1) {
  top: 0;
}

main header .buger .menu-trigger span:nth-of-type(2) {
  top: 12px;
  width: 20px;
}

main header .buger .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

main header .buger .menu-trigger:hover span:nth-of-type(1) {
  width: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

main header .buger .menu-trigger:hover span:nth-of-type(2) {
  width: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

main header .buger .menu-trigger:hover span:nth-of-type(3) {
  width: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

main header .buger .menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY 10px rotate -45deg;
  transform: translateY(12px) rotate(-45deg);
}

main header .buger .menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

main header .buger .menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

main header .buger .menu-trigger.active-1:hover span:nth-of-type(1) {
  width: 30px;
}

main header .buger .menu-trigger.active-1:hover span:nth-of-type(1) {
  width: 30px;
}

main header .buger .menu-trigger.active-1:hover span:nth-of-type(3) {
  width: 30px;
}

main header .buger .nav {
  padding: 100px 25% 60px 120px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: -25px;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  background-color: #fff;
}

main header .buger .nav.active {
  background-color: #fff;
  opacity: 1;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.3);
}

main header .buger .nav li {
  padding: 0 0 5px 0;
  -webkit-transform: translateY(100);
          transform: translateY(100);
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  opacity: 0;
}

main header .buger .nav li.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main header .buger .nav li a {
  font-size: 3.3rem;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  position: relative;
}

main header .buger .nav li a:before {
  content: '';
  background-color: #000;
  height: 8px;
  width: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  bottom: 0px;
}

main header .buger .nav li a:hover:before {
  width: 100%;
}

main header .buger .nav li:nth-of-type(1) {
  -webkit-transition: .2s;
  transition: .2s;
}

main header .buger .nav li:nth-of-type(2) {
  -webkit-transition: .8s;
  transition: .8s;
}

main header .buger .nav li:nth-of-type(3) {
  -webkit-transition: 1s;
  transition: 1s;
}

main header .buger .nav li:nth-of-type(4) {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

main header .buger .nav li:nth-of-type(5) {
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

main header .buger .nav li:nth-of-type(6) {
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

main header .buger .nav li:nth-of-type(7) {
  -webkit-transition: 1.7s;
  transition: 1.7s;
}

main header .buger .nav li:nth-of-type(8) {
  -webkit-transition: 1.8s;
  transition: 1.8s;
}

main header .buger .nav li:nth-of-type(9) {
  -webkit-transition: 1.9s;
  transition: 1.9s;
}

main header .buger .nav .buy {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 30px 0 120px 0;
  cursor: pointer;
}

main header .buger .nav .nav-small-text-1 {
  margin-bottom: 30px;
  cursor: pointer;
}

main header .buger .nav .nav-small-text-1 span:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.2rem;
}

main header .buger .nav .nav-small-text-1 span:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 400;
}

main header .buger .nav .nav-small-text-2 span {
  cursor: pointer;
  color: grey;
  font-weight: 100;
}

main .side_menu {
  z-index: 999;
  position: fixed;
  width: 100vh;
  padding: 95px 0px 0 120px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
  left: 0;
  height: 100vh;
}

main .side_menu div {
  overflow: hidden;
}

main .side_menu div .nav {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

main .side_menu div .nav.active1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .side_menu div .nav.active {
  opacity: 0;
}

main .side_menu div .nav li {
  margin-left: 50px;
  display: inline-block;
}

main .side_menu div .nav li a {
  font-weight: 600;
  cursor: pointer;
  color: #bbb;
  z-index: 999;
  -webkit-transition: .5s;
  transition: .5s;
}

main .side_menu div .nav li a.active {
  font-weight: 600;
  color: #000;
}

main .side_menu div .nav li:nth-of-type(1) {
  font-weight: 500;
}

main .fixed-img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

main .fixed-img figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

main .fixed-img figure img {
  width: 100%;
}

main .fixed-img .bg img {
  z-index: -999;
  width: 100%;
  position: absolute;
}

main .fixed-img .bg-img1 {
  margin: 0;
}

main .fixed-img .bg-img1 .person-img {
  margin-top: -5%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .fixed-img .bg-img1 .person-img.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .fixed-img .bg-img1 .line-img {
  margin-top: -5%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0;
}

main .fixed-img .bg-img1 .line-img.active {
  opacity: 1;
}

main .fixed-img .bg-img1 div {
  position: absolute;
  font-size: .9rem;
  font-weight: 400;
  top: 0;
  left: 0;
  padding: 40% 0 0 87%;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: #fff;
}

main .fixed-img .bg-img1 div.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #000;
  opacity: 1;
}

main .fixed-img .bg-img2 .person-img {
  margin-top: -5%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .fixed-img .bg-img2 .person-img.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .fixed-img .bg-img2 .line-img {
  z-index: -1;
  margin-top: -5%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0;
}

main .fixed-img .bg-img2 .line-img.active {
  opacity: 1;
}

main .fixed-img .bg-img3 .person-img {
  z-index: 2;
  margin-top: -5%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .fixed-img .bg-img3 .person-img.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .fixed-img .bg-img3 .line-img {
  z-index: 1;
  margin-top: -5%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0;
}

main .fixed-img .bg-img3 .line-img.active {
  opacity: 1;
}

main .fixed-img .bg-img3 div {
  position: absolute;
  font-size: .9rem;
  font-weight: 400;
  top: 0;
  left: 0;
  padding: 40% 0 0 87%;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: #fff;
}

main .fixed-img .bg-img3 div.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #000;
  opacity: 1;
}

main .fixed-img .bg-img4 .person-img {
  z-index: 2;
  margin-top: -5%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .fixed-img .bg-img4 .person-img.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .fixed-img .bg-img4 .line-img {
  z-index: -1;
  margin-top: -5%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  right: 0;
}

main .fixed-img .bg-img4 .line-img.active {
  opacity: 1;
}

main .fixed-img .bg-img4 div {
  position: absolute;
  font-size: .9rem;
  font-weight: 400;
  top: 0;
  left: 0;
  padding: 40% 0 0 87%;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: #fff;
}

main .fixed-img .bg-img4 div.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #000;
  opacity: 1;
}

main .con1 {
  height: 100vh;
}

main .con1 .bigText-1 {
  margin: -40% 0 5% 15%;
}

main .con1 .bigText-1 ul div {
  overflow: hidden;
}

main .con1 .bigText-1 ul div li {
  font-size: 2.3em;
  font-weight: 550;
  word-spacing: 4px;
  margin-top: -5px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

main .con1 .bigText-1 ul div li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con1 .bigText-2 {
  margin: 0 0 0 15%;
}

main .con1 .bigText-2 ul div {
  overflow: hidden;
}

main .con1 .bigText-2 ul div li {
  font-size: 5.5em;
  font-weight: 600;
  word-spacing: 4px;
  margin-top: -30px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .con1 .bigText-2 ul div li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con1 .smallText-1 {
  margin: 0 0 0 15%;
}

main .con1 .smallText-1 ul li {
  font-size: 1.5em;
  word-spacing: 4px;
  margin-top: 30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main .con1 .smallText-1 ul li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con1 .btn {
  overflow: hidden;
  margin: 4% 0 20% 15%;
}

main .con1 .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main .con1 .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .con1 .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

main .con1 .btn .line.active {
  width: 100px;
  opacity: 1;
}

main .con1 .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

main .con2 {
  height: 100vh;
}

main .con2 .bigText-2 {
  margin: 0 0 0 15%;
  margin-top: 300px;
}

main .con2 .bigText-2 ul div {
  overflow: hidden;
}

main .con2 .bigText-2 ul div li {
  font-size: 5.5em;
  font-weight: 600;
  word-spacing: 4px;
  margin-top: -30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

main .con2 .bigText-2 ul div li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con2 .smallText-1 {
  margin: 0 0 0 15%;
}

main .con2 .smallText-1 ul li {
  font-size: 1.5em;
  word-spacing: 4px;
  margin-top: 30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main .con2 .smallText-1 ul li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con2 .btn {
  overflow: hidden;
  margin: 4% 0 20% 15%;
}

main .con2 .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main .con2 .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .con2 .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

main .con2 .btn .line.active {
  width: 100px;
  opacity: 1;
}

main .con2 .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

main .con3 {
  height: 100vh;
}

main .con3 .bigText-2 {
  margin: 0 0 0 15%;
  margin-top: 300px;
}

main .con3 .bigText-2 ul div {
  overflow: hidden;
}

main .con3 .bigText-2 ul div li {
  font-size: 5.5em;
  font-weight: 600;
  word-spacing: 4px;
  margin-top: -30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

main .con3 .bigText-2 ul div li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con3 .smallText-1 {
  margin: 0 0 0 15%;
}

main .con3 .smallText-1 ul li {
  font-size: 1.5em;
  word-spacing: 4px;
  margin-top: 30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main .con3 .smallText-1 ul li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con3 .btn {
  overflow: hidden;
  margin: 4% 0 20% 15%;
}

main .con3 .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main .con3 .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .con3 .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

main .con3 .btn .line.active {
  width: 100px;
  opacity: 1;
}

main .con3 .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

main .con4 {
  height: 100vh;
}

main .con4 .bigText-2 {
  margin: 0 0 0 15%;
  margin-top: 300px;
}

main .con4 .bigText-2 ul div {
  overflow: hidden;
}

main .con4 .bigText-2 ul div li {
  font-size: 5.5em;
  font-weight: 600;
  word-spacing: 4px;
  margin-top: -30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

main .con4 .bigText-2 ul div li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con4 .smallText-1 {
  margin: 0 0 0 15%;
}

main .con4 .smallText-1 ul li {
  font-size: 1.5em;
  word-spacing: 4px;
  margin-top: 30px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main .con4 .smallText-1 ul li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .con4 .btn {
  overflow: hidden;
  margin: 4% 0 20% 15%;
}

main .con4 .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main .con4 .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .con4 .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

main .con4 .btn .line.active {
  width: 100px;
  opacity: 1;
}

main .con4 .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

.port {
  width: 70%;
  margin: auto;
  margin-top: 250px;
}

.port .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.port .name div {
  overflow: hidden;
}

.port .name div li {
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .8s;
  transition: .8s;
}

.port .name div li.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.port .name .btn {
  overflow: hidden;
}

.port .name .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.port .name .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.port .name .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.port .name .btn .line.active {
  width: 100px;
  opacity: 1;
}

.port .name .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

.port article .port_list_1 {
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.port article .port_list_1 .cate1 {
  width: 45%;
}

.port article .port_list_1 .cate1.cate1:nth-of-type(1) {
  -webkit-transition: .3s;
  transition: .3s;
}

.port article .port_list_1 .cate1.cate1:nth-of-type(2) {
  margin-top: 200px;
  -webkit-transition: .3s;
  transition: .3s;
}

.port article .port_list_1 .cate1.cate1:nth-of-type(3) {
  margin-top: -80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.port article .port_list_1 .cate1.cate1:nth-of-type(4) {
  margin-top: 120px;
  -webkit-transition: .3s;
  transition: .3s;
}

.port article .port_list_1 .cate1 div {
  height: 750px;
  position: relative;
  overflow: hidden;
}

.port article .port_list_1 .cate1 div .tx {
  position: absolute;
  top: 0;
  left: 0%;
  padding-top: 350px;
  padding-bottom: 350px;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.port article .port_list_1 .cate1 div .tx2 {
  position: absolute;
  bottom: 0;
  left: 0%;
  padding-top: 630px;
  text-align: right;
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
  width: 95%;
  cursor: pointer;
}

.port article .port_list_1 .cate1 div img {
  width: 100%;
  height: 750px;
}

.port article .port_list_1 .cate1 ul {
  margin: 0;
  padding: 0;
}

.port article .port_list_1 .cate1 ul li:nth-of-type(1) {
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}

.port article .port_list_1 .cate1 ul li:nth-of-type(2) {
  font-size: 2.5rem;
  font-weight: 500;
}

.hidden {
  overflow: hidden;
}

.hidden .yellow {
  margin-top: 200px;
  height: 565px;
  position: relative;
  background-image: url("img/main_about1.png");
  bottom: 0;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 1;
}

.hidden .yellow.active {
  height: 565px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hidden .yellow div {
  position: relative;
}

.hidden .yellow div .y-2 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.hidden .yellow div .y-2.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden .yellow div .y-3 {
  position: absolute;
  top: 500px;
  left: 0;
  padding-left: 55%;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.hidden .yellow div .y-3.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden .yellow .y-text {
  left: 0;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  padding-top: 7%;
}

.hidden .yellow .y-text ul div {
  overflow: hidden;
}

.hidden .yellow .y-text ul div li {
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.hidden .yellow .y-text ul div li.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hidden .yellow .y-text .btn {
  overflow: hidden;
  margin: 4% 0 0 0;
}

.hidden .yellow .y-text .btn .text {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.hidden .yellow .y-text .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hidden .yellow .y-text .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.hidden .yellow .y-text .btn .line.active {
  width: 100px;
  opacity: 1;
}

.hidden .yellow .y-text .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

.news {
  width: 70%;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 150px;
}

.news .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.news .name li:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 600;
}

.news .name li:nth-of-type(2) {
  font-size: 1.5rem;
  font-weight: 600;
  border-width: 2px;
}

.news .name li:nth-of-type(2) a {
  color: #000;
  border-bottom: 1px solid #000;
  border-width: 2px;
  width: 150px;
}

.news .name div {
  overflow: hidden;
}

.news .name div li {
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .8s;
  transition: .8s;
}

.news .name div li.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.news .name .btn {
  overflow: hidden;
}

.news .name .btn .text {
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.news .name .btn .text.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.news .name .btn .line {
  background-color: #000;
  width: 0;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.news .name .btn .line.active {
  width: 85px;
  opacity: 1;
}

.news .name .btn a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

.news .news_list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news_list .cate2 {
  margin: 0 8%;
}

.news .news_list .cate1 {
  width: 30%;
}

.news .news_list .cate1 div {
  opacity: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: .7s;
  transition: .7s;
}

.news .news_list .cate1 div.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.news .news_list .cate1 div img {
  width: 100%;
}

.news .news_list .cate1 ul li:nth-of-type(1) {
  margin: 5% 0 5% 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate1 ul li:nth-of-type(1).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate1 ul li:nth-of-type(2) {
  margin: 5% 0 5% 0;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  line-height: 35px;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate1 ul li:nth-of-type(2).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate1 ul li:nth-of-type(3) {
  width: 100%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate1 ul li:nth-of-type(3).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate2 {
  width: 30%;
}

.news .news_list .cate2 div {
  opacity: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: .7s;
  transition: .7s;
}

.news .news_list .cate2 div.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.news .news_list .cate2 div img {
  width: 100%;
}

.news .news_list .cate2 ul li:nth-of-type(1) {
  margin: 5% 0 5% 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate2 ul li:nth-of-type(1).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate2 ul li:nth-of-type(2) {
  margin: 5% 0 5% 0;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  line-height: 35px;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate2 ul li:nth-of-type(2).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate2 ul li:nth-of-type(3) {
  width: 100%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate2 ul li:nth-of-type(3).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate3 {
  width: 30%;
}

.news .news_list .cate3 div {
  opacity: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: .7s;
  transition: .7s;
}

.news .news_list .cate3 div.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.news .news_list .cate3 div img {
  width: 100%;
}

.news .news_list .cate3 ul li:nth-of-type(1) {
  margin: 5% 0 5% 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate3 ul li:nth-of-type(1).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate3 ul li:nth-of-type(2) {
  margin: 5% 0 5% 0;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  line-height: 35px;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate3 ul li:nth-of-type(2).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.news .news_list .cate3 ul li:nth-of-type(3) {
  width: 100%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.news .news_list .cate3 ul li:nth-of-type(3).active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.aside {
  padding-bottom: 0px;
}

.aside aside {
  position: -webkit-sticky;
  position: sticky;
  left: 90%;
  bottom: 5%;
  background-color: #fff;
  font-weight: 800;
  width: 50px;
  font-size: 0.9rem;
  color: #000;
  padding: 15px 11px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.aside aside.active {
  opacity: 1;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.footer .inner-1 {
  color: #fff;
  background: #000;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .inner-1 .on-tact {
  width: 50%;
  text-align: center;
}

.footer .inner-1 .on-tact li {
  margin: 0 0 70px 0;
}

.footer .inner-1 .on-tact li:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer .inner-1 .on-tact li:nth-of-type(2) {
  font-size: 2.5rem;
  font-weight: 200;
  color: #ddd;
}

.footer .inner-1 .on-tact li:nth-of-type(3) {
  font-size: 1.5rem;
  padding: 10px 40px;
  border: 3px solid #fff;
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}

.footer .inner-1 .bar tr td {
  border: 1px #fff;
  width: 300px;
}

.footer .inner-1 .news-letter {
  width: 50%;
}

.footer .inner-1 .news-letter li:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer .inner-1 .news-letter li:nth-of-type(2) {
  font-size: 2.5rem;
  font-weight: 200;
  color: #ddd;
  margin-bottom: 40px;
}

.footer .inner-1 .news-letter li:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  width: 60%;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  border-width: 50%;
  margin-bottom: 20px;
}

.footer .inner-1 .news-letter li:nth-of-type(3) a {
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}

.footer .inner-1 .news-letter li:nth-of-type(3) input {
  color: #ddd;
  background-color: #000;
  border: none;
  font-size: 1.2rem;
}

.footer .inner-1 .news-letter li:nth-of-type(3) input:focus {
  outline: none;
}

.footer .inner-1 .news-letter li:nth-of-type(4) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 300;
}

.footer .inner-1 .news-letter li:nth-of-type(4) .check {
  font-size: 1.5rem;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  cursor: pointer;
}

.footer .inner-1 .news-letter li:nth-of-type(4) .checked {
  cursor: pointer;
  position: absolute;
  font-weight: 500;
  top: 0;
  right: 0;
  font-size: 1.3rem;
  width: 74%;
  display: none;
}

.footer .inner-1 .news-letter li:nth-of-type(4) .checked.active {
  display: block;
}

.footer .inner-2 {
  padding: 40px;
  background-color: #1d1d1d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
}

.footer .inner-2 .left-text {
  margin-left: 3%;
}

.footer .inner-2 .left-text li {
  margin-bottom: 30px;
}

.footer .inner-2 .left-text li:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .inner-2 .left-text li:nth-of-type(2) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
}

.footer .inner-2 .left-text li:nth-of-type(2) span {
  margin-left: 40px;
  cursor: pointer;
}

.footer .inner-2 .left-text li:nth-of-type(3) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
}

.footer .inner-2 .left-text li:nth-of-type(3) span {
  -webkit-text-decoration: underline 0.1px solid #bbb;
          text-decoration: underline 0.1px solid #bbb;
  cursor: pointer;
}

.footer .inner-2 .left-text li:nth-of-type(4) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
}

.footer .inner-2 .right-text {
  margin-right: 5%;
}

.footer .inner-2 .right-text li:nth-of-type(1) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
  margin: 40px 0 10px 0;
  cursor: pointer;
}

.footer .inner-2 .right-text li:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 100px;
}

.footer .inner-2 .right-text li:nth-of-type(2) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 40px;
  cursor: pointer;
}

.footer .inner-2 .right-text li:nth-of-type(2) span:nth-of-type(2) {
  margin-left: 90px;
  font-weight: 400;
}

.footer .inner-2 .right-text li:nth-of-type(3) {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bbb;
}

.footer .inner-2 .right-text li:nth-of-type(3) span:nth-of-type(1) {
  font-weight: 800;
  font-size: 1.2rem;
}
/*# sourceMappingURL=index.css.map */